.header {
    padding: 6px;
    text-align: left;
    background: hsl(180, 15%, 20%);
    color: white;
    font-size: 30px;
}

.tab {
    color: white;
    font-size: 30px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: hsl(180, 15%, 20%);
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 30px 16px;
    transition: 0.3s;
    color: white;
}
  
  /* Change background color of buttons on hover */
.tab button:hover {
    color: black;
    background-color: #ddd;
}
  
  /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#title, #button{
    display:inline-block;
    vertical-align: top;
}

.center {
  text-align: center;
  margin-top: 10%;
}