<!DOCTYPE html>
<html lang="en">
    <head>
        <title>File Transfer</title>
        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="tab" id = "buttons">
            <img src="{{ url_for('static', filename='img/logo.png') }}">
            <a href="/logout"><button>Logout</button> </a>
            <a href="/download"><button>Download</button></a>
            <a href="/"><button>Upload</button></a>
        </div>
        <div class="center">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
